---
---

@import "{{ site.theme }}";

.ribbon-outer * {
  text-decoration: none!important;
}

footer span.ribbon-inner p {
  padding-block: 4px;
}

img {
  max-width: 150px;
}

table * {
  vertical-align: middle;
}
