---
---

@import "{{ site.theme }}";

.ribbon-outer * {
  text-decoration: none!important;
}

footer span.ribbon-inner p {
  padding-block: 4px;
}

img {
  max-width: 150px;
}

table * {
  vertical-align: middle;
}

a.page-link {
    border-radius: .5em;
    background: #7c334f;
    padding: .5em;
    color: white;
}

p:has(a.page-link) {
  line-height: 2em
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  border-right: 2px solid #7c334f;
}

nav > ul {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
  margin-right: 1em;
}
